<h2><%= link_to 'Add an Artist', new_artist_path %></h2>

  <% @artists.each do |artist| %>
    <ul>
      <h3>Artist Name and Genre:</h3>
      <li><%= link_to artist.name, artist_path(artist)%>
        <ul>Genre: <%= artist.genre %></li></ul>
      </ul>
  <% end %>